:root{
    --primary-text-color:#FFFFFF;
    --tittle-text-color:#212121;
    --content-text-color:#757575;
    --accent-color:#2196F3;
}

body{
    background-color: #FFFFFF;
    color:var(--tittle-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Колір основного тексту #FFFFFF */
/* додаткові кольори тексту #212121  #757575*/
/* Білий #FFFFFF #FFFFFF 60 % */
/* акцент #2196F3 */

/* Logo */
.logo-link{
    color: var(--tittle-text-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    text-decoration: none;
}

.logo {
    color:var(--accent-color);
}
/* Навігація сайту */
.site-nav{
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    text-decoration: none;
}

.contact-info{
    text-decoration: none;
}
.site-nav a {
    color: var(--tittle-text-color);
}
.contact-info a {
    color:var(--content-text-color);
}
.contact-info a:hover, .site-nav a:hover, 
.site-nav a:focus, .contact-info a:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}
/* Hero */
.hero{
    letter-spacing: 0.06em;
}
.hero-tittle{
    color:var(--primary-text-color);
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    text-align: center;
    text-transform: uppercase;
}

    .hero-button{
color: var(--primary-text-color);
background-color: #2196F3;
font-weight: 700;
font-size: 16px;
line-height: 1.88em;
}

/* Features */


.feature-list .tittle{
    color: var(--tittle-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    text-transform: uppercase;
}


.feature-list .content{
    color:var(--content-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
}

/* Work list */
.work-list .tittle{
    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
}

/* Team list */
.team-list .tittle{
    color: var(--tittle-text-color);
    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
}

.team-name{
    color: var(--tittle-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19em;
}

.team-item{
    color: var(--content-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19em;
}

/* Footer */
footer .logo-link{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    color: var(--primary-text-color); 
    text-decoration: none;
}

footer .logo{

    color:var(--accent-color);
}
.contact-address{
    color: #FFFFFF;
}
.contact-mail{
color: rgba(255, 255, 255, 0.6);;
}
.contact-tel{
    color: rgba(255, 255, 255, 0.6);
}

footer{
    background-color:#2F303A;
}
address{
    font-weight: 400;
font-size: 14px;
line-height: 1.71em;
}

/* Button site navigation */
.button{
    color: var(--tittle-text-color);
    background-color: #F5F4FA;
}
.button:hover, .button:focus{
    color: #FFFFFF;
    background-color: var(--accent-color);}

    /* Work Examples */
    .examples .tittle{

        font-weight: 700;
        font-size: 18px;
        line-height: 2em;
    }

    .examples .item{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88em;
    }