:root{
    --primary-text-color:#FFFFFF;
    --tittle-text-color:#212121;
    --content-text-color:#757575;
    --accent-color:#2196F3;
}

body{
    background-color: var(--primary-text-color);
    color:var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

a {
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Колір основного тексту #FFFFFF */
/* додаткові кольори тексту #212121  #757575*/
/* Білий #FFFFFF #FFFFFF 60 % */
/* акцент #2196F3 */

/* Logo */
.logo-link{
    color: var(--tittle-text-color);
    font-family: Raleway sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo {
    color:var(--accent-color);
}
/* Навігація сайту */
.site-nav{
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

/* .contact-info{ 
    text-decoration: none;
}*/
.contact-info:hover, .contact-info:focus{
    color: var(--accent-color);}
.site-nav a {
    color: var(--tittle-text-color);
}
.contact-info a {
    color:var(--content-text-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}
/* Hero */
.hero{
    background-color: #2F303A;
}
.hero-tittle{
    color:var(--primary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.hero-button{
font-family: Roboto;
color: var(--content-text-color)
font-weight: 700;
font-size: 16px;
line-height:1.88;
}

.hero-button:hover, .hero-button:focus{
    background-color: var(--accent-color);
}

/* Features */


.feature-list .tittle{
    color: var(--tittle-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}


.feature-list .content{
    color:var(--content-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* Work list */
.work-list .tittle{
    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

/* Team list */
.team-list .tittle{
    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.team-name{
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-item{
    color: var(--content-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}

/* Footer */
footer .logo-link{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color); 
    text-decoration: none;
}

.footer .logo{

    color:var(--accent-color);
}
.contact-address{
    color: var(--primary-text-color);
}
.contact-mail{
color: rgba(255, 255, 255, 0.6);;
}
.contact-tel{
    color: rgba(255, 255, 255, 0.6);
}

.footer{
    background-color:#2F303A;
}
.address-info{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}
.address-info:hover .address-info:focus{
    color: var(--accent-color);
}

/* Button site navigation */
.button{
    color: var(--tittle-text-color);
    background-color: #F5F4FA;
}
.button:hover, .button:focus{
    color: var(--primary-text-color);
    background-color: var(--accent-color);}

    /* Work Examples */
    .examples .tittle{

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
    }

    .examples .item{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
    }